<div id="QuickShopModal-{{ section.id }}_modal" class="modal display-flex jc-center ai-center" aria-hidden="true">
  <div class="modal__inner">
    <div class="close_modal">
      <button type="button">
        {% render 'icon-close' %}
      </button>
    </div>
    <div class="modal__content"></div>
  </div>
</div>